* {
	font-family: "JetBrainsMonoNerdFont";
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: 10px;
	margin-right: 10px;
	color: rgb(12,12,34);
	border-radius: 5px;
	border: none;
}
#tray {
	background-color: rgba(252, 243, 246, 0.8);
	margin-top: 0;
	margin-bottom: 0;
}
tooltip {
	background-color: rgba(252, 243, 246, 0.8);
}
#ws {
	padding-left: 5px;
	padding-right: 5px;
	background-color: rgba(252, 243, 246, 0.8);
}
label {
	border: none;
}
button {
	border: none;
}
