@define-color foreground #080204;
@define-color background #FCF3F6;
@define-color primary #D8415F;
@define-color secondary #E6CA84;
@define-color accent #D5E16B;

* {
	border-radius: 5px;
	border: none;
	color: @foreground;
}

window {
	background-color: @background;
	font-family: 'JetBrainsMonoNerdFont';
}
#outer-box{
	border-radius: 5px;
	padding: 10px;
	border: 3px solid @primary;
}
#inner-box{
	padding-top: 15px;
}
#input {
	background-color: @secondary;	
	border: none;
	padding: 5px;
}

#entry {
	padding: 7px;
	padding-left: 15px;
	margin-top: 0;
}
#entry:selected{
	background-color: @accent;	
}
#text:selected{
	border: none;
}
