/*
 * vim: ft=less
 */

@define-color primary #d8c255;
@define-color secondary #081921;
@define-color blurbg rgba(8, 25, 33, 0.6);
@define-color text #FDF9F7;
@define-color bg #150A05;
@define-color accent #2D47C8;
@define-color gray #081921;

* {
  font-family: JetBrainsMonoNerdFont;
  border-radius: 0;
  outline: none;
}

.notification-row {}

.notification {
  border: 2px solid @primary;
  border-radius: 0;
  margin: 0;
  box-shadow: 0 0 0 1px @secondary;
  padding: 0;
}

/* Specific urgency colors */
.normal,
.low {
  background: @blurbg;
  color: @text;
  padding: 6px;
}

.critical {
  background: @primary;
  color: @secondary;
  padding: 6px;
}

.notification-content {
  background: transparent;
  padding: 0;
  border-radius: 0;
}

.close-button {
  background: transparent;
  color: @text;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 10px;
  margin-right: 16px;
  box-shadow: none;
  border: none;
  min-width: 20px;
  min-height: 20px;
}

.close-button:hover {
  color: @secondary;
  box-shadow: none;
  background: @primary;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-default-action {
  border: none;
  background: transparent;
  box-shadow: none;
}

.notification-action {
  padding: 2px;
  margin-top: 8px;
  box-shadow: none;
  border: 2px solid @primary;
  background: transparent;
  color: @text;
  transition: all 0.15s ease-in-out;
}

.notification-action:hover {
  background: @primary;
  color: @secondary;
}

/* When alternative actions are visible */
.notification-default-action:not(:only-child) {}

/* add bottom border radius to eliminate clipping */

.notification-action:last-child {}

.inline-reply {
  margin-top: 8px;
}

.inline-reply-entry {
  background: transparent;
  color: @text;
  caret-color: @text;
  border: 2px solid @primary;
  border-radius: 12px;
}

.inline-reply-button {
  margin-left: 4px;
  background: @secondary;
  border: 1px solid @noti-border-color;
  border-radius: 12px;
  color: @text-color;
}

.inline-reply-button:disabled {
  background: initial;
  color: @gray;
  border: 1px solid transparent;
}

.inline-reply-button:hover {
  background: @primary;
  color: @secondary;
}

.image {}

.body-image {
  margin-top: 6px;
  background-color: @text;
  border-radius: 12px;
}

.summary {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: @text;
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: @text;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 15px;
  font-weight: normal;
  background: transparent;
  color: @text;
  text-shadow: none;
}

.control-center {
  background: @blurbg;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.4;
}

.floating-notifications {
  background: transparent;
}

/* Window behind control center and on all other monitors */
.blank-window {
  background: alpha(black, 0.25);
}

/** Widgets */
.widget-title,
.widget-dnd,
.widget-label,
.widget-buttons-grid {
  margin: 8px;
}

/* Title widget */
.widget-title {
  font-size: 14pt;
  color: @foreground;
}

.widget-title>button,
.widget-dnd>switch {
  font-size: initial;
  color: @text;
  text-shadow: none;
  background: transparent;
  border: 2px solid @primary;
  box-shadow: none;
  border-radius: 0;
}

.widget-title>button:hover {
  background: @primary;
  color: @secondary;
}

/* DND widget */
.widget-dnd {
  font-size: 1.1rem;
  color: @foreground;
}

.widget-dnd>switch:checked {
  background: @accent;
}

.widget-dnd>switch slider {
  background: @primary;
  border-radius: 0;
}

/* Label widget 
.widget-label {}*/

.widget-label>label {
  font-size: 12pt;
}

/* Mpris widget */
.widget-mpris {
  margin: 8px;
}

.widget-mpris-player {
  padding: 8px;
  border: 2px solid @primary;
}

.widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.widget-mpris-subtitle {
  font-size: 1.1rem;
}

.widget-mpris button {
  background: @secondary;
  color: @primary;
  outline: none;
}

.widget-mpris button:hover {
  background: @primary;
  color: @secondary;
}

/* Buttons grid widget */
.widget-buttons-grid {
  padding: 8px;
  margin: 8px;
  background-color: transparent;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  background: @secondary;
  border: 2px solid @primary;
  color: @text;
  border-radius: 0;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: @primary;
  color: @secondary;
  border: 2px solid @primary;
}

/* .toggle {
  background: red;
}

.toggle:checked {
  background: red;
}
*/
/* Menubar widget */
.widget-menubar>box>.menu-button-bar>button {
  border: none;
  background: @secondary;
  color: @text;
}

/* .AnyName { Name defined in config after #
  background-color: @noti-bg;
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
}

.AnyName>button {
  background: transparent;
  border: none;
}

.AnyName>button:hover {
  background-color: @noti-bg-hover;
} */

.topbar-buttons>button {
  /* Name defined in config after # */
  border: none;
  background: transparent;
}

/* Volume widget */

.widget-volume {
  background-color: @secondary;
  padding: 8px;
  margin: 8px;
}

.widget-volume>box>button {
  background: transparent;
  border: none;
}

.per-app-volume {
  background-color: @secondary;
  padding: 4px 8px 8px 8px;
  margin: 0px 8px 8px 8px;
}

/* Backlight widget */
.widget-backlight {
  background-color: @secondary;
  padding: 8px;
  margin: 8px;
}

/* Title widget */
.widget-inhibitors {
  margin: 8px;
  font-size: 1.5rem;
}

.widget-inhibitors>button {
  font-size: initial;
  color: @text;
  text-shadow: none;
  background: @secondary;
  border: 1px solid @text;
  box-shadow: none;
}

.widget-inhibitors>button:hover {
  background: @primary;
  color: @secondary;
}